.card {
  max-width: 350px; /* Adjust as needed */
  border-radius: 15px; /* Adjust as needed for more rounding */
  overflow: hidden; /* Ensures content respects border-radius */
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-title {
  color: #333; /* Dark color for readability */
}

.product-price {
  font-size: 1.4rem;
  font-weight: bold;
  color: #556472; /* A distinct blue color */
}